body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: Roboto, Helvetica, Arial, sans-serif;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }



/****************************************************************** NEW Added CSS styling *************************************************************/
.App{
  display: flex;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80px;                  /* Keep same as .content height */
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;                /* Make it span the whole vertical same as page */

  z-index: 100;

  /*TEST color*/
  /* background-color: red;       */
  background-color: #0C0C14;

}

.navbar-header{
  text-align: center;
  line-height:4em;

  /*TEST color*/
  /* background-color: yellow;    */
  background-color: #0C0C14;

}

.navbar-header .nav-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: wheat;
  margin-top: 5px;
  color: white;
}

.logo-home{
  display: flex;
  background-color: #FF9301;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.navbar-home-icon{
  padding-top: 50px;
}

.navbar-icon{
  color: white;
}

/*********************** PAGE CONTENT ***********************/
.content {
  margin-left: 80px;  /* Keep same as .navbar-container height */
  color: white;     /* All content text-color = white */
  
  /* height: 100vh; */
  /* height: calc(100vh * [number of sections]); */
  position: relative;
  width: 100vw;
  height: 100vh;
}
.section{
  height: 100vh;
}

.scroll-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.page {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  /* height: 100vh;  */
}

.home-section{
  background-color: #000000;
  color: white;
}

.about-section{
  /* background-color: wheat; */
  background-color: #0E0E17;
}
.resume-section{
  background-color: gray;
}
.projects-section{
  background-color: blue;
}
.contact-section{
  background-color: purple;
}
/************************************************************/

/************************ HOME ******************************/
.home-top-container, .home-top-phone-email{
  display: flex;
  justify-content: space-between;
}
.home-top-container{
  padding-top: 10px;
  padding-left: 25px;
  
}

.home-top-languague{
  margin-left: auto;
}

.phone, .email{
  margin-right: 50px;
}


.home-main-content{
  width: 70%;               /* Making the width 70% of the page */
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #FFF;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: #AAA;
  color: #fff;
}

/************************************************************/


/* Sharing between all the section PAGES */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh;             */
}

.main-content-inner {
  text-align: left;
}

.about-container{
  justify-content: space-around;
  display:flex;

}
.about-left{
  width: 50%;
}
.about-right{
  text-align: center;
}


.about-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-media a {
  display: inline-block;
  margin-right: 10px;
}

.social-media i {
  font-size: 24px;
}


.about-card-box{
  background-color: #000 !important;
}

.about-row{
  padding-left: 4em;
}
.section-title{
  padding-left: 1.5em;
}

.page-taller{
  height: 250vh;
}

