body {
  /* margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0); */

  font-family: Rubik, monospace;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.7;
  color: #0b0b13;
}


/****************************************************************** NEW Added CSS styling *************************************************************/
.App{
  display: flex;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80px;                  /* Keep same as .content height */
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;             

  background-color: #0C0C14;

}

.navbar-header{
  text-align: center;
  line-height:4em;

  background-color: #0C0C14;

}

.navbar-header .nav-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: wheat;
  margin-top: 5px;
  color: white;
}

.logo-home{
  display: flex;
  background-color: #FF9301;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.navbar-home-icon{
  padding-top: 50px;
}

.navbar-icon{
  color: white;
}

/*********************** PAGE CONTENT ***********************/
.content {
  margin-left: 80px;  /* Keep same as .navbar-container height */
  color: white;     /* All content text-color = white */
  
}

.page {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  min-height: 100vh;  
}

.home-section{
  background-color: #000000;
  color: white;
}
.home-container-inner{
  margin-top: 22%;
}

.about-section{
  /* background-color: wheat; */
  background-color: #0E0E17;
}
.resume-section{
  background-color: #0b0b13;
}
.projects-section{
  background-color: #0E0E17;
}
.contact-section{
  background-color: purple;
}
/************************************************************/

/************************ HOME ******************************/
.home-top-container, .home-top-phone-email{
  display: flex;
  justify-content: space-between;
}
.home-top-container{
  padding-top: 10px;
  padding-left: 25px;
  
}

.home-top-languague{
  margin-left: auto;
}

.phone, .email{
  margin-right: 50px;
}


.home-main-content{
  width: 70%;               /* Making the width 70% of the page */
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #FFF;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: #AAA;
  color: #fff;
}

/* .home-desc{
  width: 70%;
} */
/************************************************************/


/* Sharing between all the section PAGES */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;

  /* min-height: 100vh;       */
}

.main-content-inner {
  text-align: left;
  min-width: 100%;
  min-height: 100vh;
}

.about-container{
  justify-content: space-around;
  display:flex;
}
.about-left{
  width: 50%;
}
.about-right{
  text-align: center;
}
.about-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-row{
  text-align: left;
}


.about-right .about-img{
  position: relative;
  margin-bottom: 20px;
}

.about-right .social-media {
  bottom: -15px;
  left: 0;
  position: absolute;
  right: 0;
}
.about-right .social-media a {
  border: 2px solid #fff;
  border-radius: 50%;
  color: white;
  margin: 0 5px;
  width: 30px;
  justify-content: space-between;
  background-color: black;
}

.about-pic {
  border-radius: 50%;
  border: 5px solid orange;
  margin: auto;
  overflow: hidden;
}

.about-nav{
  display: flex;
}
.social-icons{
  top: -8px;
  position: relative; 
}



.about-card-box{
  background-color: #000 !important;
}
/************************************************************/

/* ABOUT Page 2 */
.title{
  margin-bottom: 35px;
}

.feature-box-1, .feature-box-2, .feature-box-3{
  background-color: #010101;
}

.feature-box-1{
  border-radius: 10px;
  padding: 40px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.feature-box-1 i{
  color: #fff;
  font-size: 40px;
  line-height: 60px;
}
.feature-box-1 .feature-content{
  padding-top: 50px;
}



/* Resume */
.experience-container{
  padding-top: 15px;
}
.resume-box-1{
  border-radius: 15px;
  padding: 25px;
  background-color: #0E0E17;
}
.resume-box-1 .rb-left {
  border-right: 1px solid hsla(0,0%,100%,.2);
  min-height: 100%;
}
.resume-box-1{
  margin-top: 30px;
}


/* COMPONENTS CSS */
/* .justify-content-center{
  justify-content: center;
} 
.justify-content-start {
  justify-content: start;
}*/

/* Email */
.project-container {
  padding-top: 15px;
}
.project-tabs {
  margin-bottom: 10px;
  padding-left: 0;
}
.project-tabs li {
  margin-right: 1rem;
}
.project-tabs .react-tabs__tab--selected {
  border-bottom: 2px solid yellow;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  color: yellow;
}
.project-tabs .react-tabs__tab-list {
  border-bottom: none;
}
.project-tabs .react-tabs__tab{
  position: unset;
}

.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* Negative margin to counteract the padding */
  width: auto;
}
.my-masonry-grid-column {
  padding-left: 16px; 
}
.grid-item {
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
}
.grid-item img {
  width: 100%;
  height: auto;
}
.grid-item:hover .portfolio-top {
  opacity: 1;
  transform: translateY(0);
}
.grid-item h3 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.projects-content {
  min-height: 300px;
  min-width: 100%; 
}
.title{
  color: orange;
}

.portfolio-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.portfolio-top h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.portfolio-top i {
  font-size: 20px;
}
/************************************************************/


/* CONTACT */
/*
.main-content-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-center;
  margin-left: 3em;
}

.contact-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.contact-row label {
  font-size: 20px;
  margin-right: 0.5rem;
}
.contact-form, .contact-form form{
  margin-top: 2rem;
}
.contact-form form {
  display: grid;
  gap: 1rem;
}

.form-group {
  display: grid;
  gap: 0.5rem;
}

.form-group:nth-child(2) {
  grid-column: 1 / span 2;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}*/

.form-control{
  /* cursor: none; */
}

@media (max-width: 991px){
  .contact-info {
      margin-bottom: 20px;
  }
}
.contact-info h4{
  font-size: 34px;
  font-weight: 500;
}
.contact-info p, .contact-info li{
  font-size: 18px;
}
.contact-info li{
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  position: relative;
}
.contact-info li i{
  color: yellow;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  width: 30px;
}
.contact-info li span{
  padding-left: 15px;
}

.media{
  align-items: flex-start;
  display: flex!important;
}

/************************************************************/
